# Grep
alias grep='grep --color=auto'

# PHP stuff
alias xdb='XDEBUG_CONFIG="idekey=PHPSTORM" '

# Git aliases
alias ggpull='git pull origin "$(git_current_branch)"'
alias ggpush='git push origin "$(git_current_branch)"'
alias gc='git commit --verbose'
alias b='git branch --sort=committerdate'
alias lg='lazygit'	

# j is normal just
alias j="just"
# jg only considers the global justfile.
alias jg="just --justfile ~/.justfile --working-directory ."

# Apps
alias typora="open -a typora"
alias marked="open -a Marked"
