[user]
	name = Camilla Krag Jensen
	email = naxoc@users.noreply.github.com
[push]
	default = tracking
[color "diff"]
	meta = cyan
	frag = yellow
[color]
   diff = auto
   status = auto
   branch = auto
   interactive = auto
   ui = true
   pager = true
[core]
  whitespace = fix,-indent-with-non-tab,-indent-with-tab,trailing-space,cr-at-eol
	excludesfile = /Users/ckj/.gitignore
[alias]
  co = checkout
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
  st = status
  b = branch
  diss = diff **/*.scss
  coss = commit *.css -m 'Compiled css'
  undo = reset --hard HEAD~1
  redo = reset --hard HEAD@{1}
  uncommit = reset HEAD~1
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
